* {
   margin: 0;
   padding: 0;
   font-family: 'Cormorant Infant', serif;
   box-sizing: border-box;
   
}



.welcomePage {
  background-image: url("images/fond\ Caméra.jpg");
  background-position:center;
  background-repeat: no-repeat;
  
  
}

.imageStyle {
  height: 100px;
}

.customColor {
  background-color: #47555e;
  opacity: 0.8;
}

.FontSizeTitle {
  font-size: 4rem;
  text-shadow: 2px 0 0 #1c2e4a, 0 2px 0 #1c2e4a, 0 -2px 0 #1c2e4a, -2px 0 0 #1c2e4a, 2px 2px 0 #1c2e4a, 2px -2px 0 #1c2e4a, -2px 2px 0 #1c2e4a, -2px -2px 0 #1c2e4a;
} 

.marginTitle {
  margin-top: 475px;
  text-shadow: 2px 0 0 #1c2e4a, 0 2px 0 #1c2e4a, 0 -2px 0 #1c2e4a, -2px 0 0 #1c2e4a, 2px 2px 0 #1c2e4a, 2px -2px 0 #1c2e4a, -2px 2px 0 #1c2e4a, -2px -2px 0 #1c2e4a;
}

.footerStyle {
  background-color: #47555e;
  height: 65px;
  width: 100%;
  opacity: 0.8;
  letter-spacing: 1px;
}

.nav-item{
  letter-spacing: 1px;
}


@media only screen and (min-width: 350px) and (max-width : 432px)  {
  .fa-facebook
  {
   margin-right: 64px;
  } 
}

@media only screen and (min-width:320px) and (max-width : 768px) {
  .FontSizeTitle
  {
     font-size: 35px;
  }

  .fontSizeActivity
  {
     font-size: 24px;
  }
  
}

/* GALLERIE */ 

.home {
  margin-bottom: 125px;
}

.buttonStyle {
  border: 1px solid  #c8ad7f;
}

.backgroundColor {
  background-color: #f4f9ff;
}

.jetest {
  margin-top: 170px;
}

.home .carousel-controls {
position: absolute;
top: 102%;
bottom: 10px;
}

.home .carousel-indicators {
  position: relative;
  margin: 0;
}

.home .carousel-indicators button {
  height: 70px;
  width: 70px;
  margin: 0 5px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  border: 1px solid  #c8ad7f;
  box-shadow: 2px 4px 7px 2px;
}

.customPhoto {
  border: solid black 20px;
  border-image: -webkit-linear-gradient(to right, #4286f4, #373B44);
  border-image: linear-gradient(to right, #c8ad7f, #47555e);
  border-image-slice: 1;
}

.hide {
  display: none;
  margin-bottom: 0;
}

.show {
  display: block;
  margin-bottom: 20px;
}

/* PRESTATIONS */ 

.servicesprice {
  padding: 80px 0;
}

.card {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 15px;
}

.img1 img {
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
}

.img2 img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 7px solid #ffff;
  margin-top: -80px;
}

.card:hover .img2 img {
  border-color:  darkcyan;
  transition: .7s;
}

.mainText {
  padding: 30px 0;
  text-align: center;
}

.mainText h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  margin: 0 0 20px;
}

.mainText p {
  font-size: 16px;
  padding: 0 35px;
}

.networks {
  text-align: center;
  padding-bottom: 20px;
}

.networks i {
  font-size: 20px;
  color: darkcyan;
}

.margintopServices {
  margin-top: 170px;
}

@media only screen and (min-width: 320px) and (max-width : 767px)  {
  .margintopService1
  {
   margin-top: 170px ;
  } 
}

@media only screen and (min-width: 767px) and (max-width : 991px)  {
  .margintopService1,.margintopService2 
  {
    margin-top: 170px ;
  }

}

@media only screen and (min-width: 991px) and (max-width : 3000px)  {
  .margintopService1,.margintopService2,.margintopService3
  {
    margin-top: 170px ;
  }

}