* {
   margin: 0;
   padding: 0;
   font-family: 'Elsie', cursive;
   box-sizing: border-box;
   
}


.welcomePage {
  background-image: url("images/fond\ Caméra.jpg");
  background-position:center;
  background-repeat: no-repeat;
}


.imageStyle {
  height: 100px;
}

.customColor {
  background-color: #47555e;
  opacity: 0.8;
}

.FontSizeTitle {
  font-size: 4rem;
  text-shadow: 2px 0 0 #1c2e4a, 0 2px 0 #1c2e4a, 0 -2px 0 #1c2e4a, -2px 0 0 #1c2e4a, 2px 2px 0 #1c2e4a, 2px -2px 0 #1c2e4a, -2px 2px 0 #1c2e4a, -2px -2px 0 #1c2e4a;
} 

.marginTitle {
  margin-top: 475px;
  text-shadow: 2px 0 0 #1c2e4a, 0 2px 0 #1c2e4a, 0 -2px 0 #1c2e4a, -2px 0 0 #1c2e4a, 2px 2px 0 #1c2e4a, 2px -2px 0 #1c2e4a, -2px 2px 0 #1c2e4a, -2px -2px 0 #1c2e4a;
}

.footerStyle {
  background-color: #47555e;
  height: 65px;
  width: 100%;
  opacity: 0.8;
  letter-spacing: 1px;
}

.nav-item{
  letter-spacing: 1px;
}


.nav-link:hover {
  color: #b68f3c !important;
  text-decoration: underline;
  font-weight: bold;
}

.heightActivity{
  height: 100%;
}

@media only screen and (min-width: 360px) and (max-width : 453px)  {
  .customFacebook
  {
   margin-right: 65px;
  } 
}

@media only screen and (min-width:3p20x) and (max-width : 768px) {
  .FontSizeTitle
  {
     font-size: 35px;
  }

  .fontSizeActivity
  {
     font-size: 24px;
  }

}

@media only screen and (min-height:450px) and (max-height : 750px) {
  .heightActivity {
    height: 60%;
  }
}

/* GALLERIE */ 

.home {
  margin-bottom: 125px;
}


.backgroundColor {
  background-color: #e2ddd3;
}

.jetest {
  margin-top: 200px;
}


.customPhoto {
  border-radius: 35px;
}

.customGallery {
  color: #47555e;
  font-weight:400;
  font-size: 60px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  text-decoration: overline solid 1.5px #47555e;
}

.customMarginGallery {
  margin-top: 140px;
}


.hide {
  display: none;
  margin-bottom: 0;
}

.show  {
  display: block;
  margin-bottom: 20px;
}

.marginAll {
  margin-bottom: 20px;
}

@media only screen and (min-width: 320px) and (max-width : 400px)  {
  .customGallery{
    font-size: 35px;
  }
}

@media only screen and (min-width: 400px) and (max-width : 493px)  {
  .customGallery{
    font-size: 45px;
  }
}



/* PRESTATIONS */ 

.servicesprice {
  padding: 80px 0;
}

.card {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.img1 img {
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;

}

.img2 img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 7px solid #ffff;
  margin-top: -80px;
}

.card:hover .img2 img {
  border-color:  darkcyan;
  transition: .7s;
}

.mainText {
  padding-top: 15x;
  text-align: center;
  height: 200px;
}

.mainText h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
}

.mainText p {
  font-size: 16px;
  padding: 0 35px;
}

.prices {
  text-align: center;
  padding-bottom: 20px;
  font-size: 20px;
  color: darkcyan;
  
  
}




@media only screen and (min-width: 320px) and (max-width : 767px)  {
  .margintopService1
  {
   margin-top: 200px;
   margin-bottom: 48px;
  } 
  .margintopService2,.margintopService3,.margintopService4,.margintopService5
  {
    margin-bottom: 48px;
  }
}

@media only screen and (min-width: 767px) and (max-width : 991px)  {
  .margintopService1,.margintopService2
  {
    margin-top: 200px;
    margin-bottom: 48px;
  }
 

}

@media only screen and (min-width: 991px) and (max-width : 1199px)  {

  .margintopService3 {
    margin-top: 48px;
  }
}

@media only screen and (min-width: 1200px) and (max-width : 3000px) {

  .margintopService3 {
    margin-top: 200px;
  }
}


@media only screen and (min-width: 991px) and (max-width : 3000px)  {
  .margintopService1,.margintopService2
  {
    margin-top: 200px;
    
  }



}



.marginFooter {
  margin-top: 73px;
}

/*Contact*/



.form-area {
  padding-top: 1px;
}

.row.single-form {
  box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
}

.left{
  background-image: url("images/fond.jpg");
  background-position:center;
  background-repeat: no-repeat;
  opacity: 1;
  padding: 175px 93px;
  border: solid 1px #af9f7d;
  border-radius: 5px;
  
  
}


.left h2{
  color: white;
  font-weight:bolder;
  font-size: 55px;
}

.left h2 span {
  font-weight: 100;
}

.right{
  padding: 60px 100px; 
  position: relative;
}

.right i{
  position: absolute;
  font-size: 80px;
  left: -27px;
  top: 40%;
  color: #fff;
}

.form-control {
  border: 2px solid #000000;
}

.right button{
  border: none;
  border-radius: 0;
  width: 180px;
  color: #fff;
  padding: 15px 0;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.right button:hover{
  background: #e2ddd3;
  color: #47555e;
}

.marginContainer{
  margin-bottom: 50px;
}
@media only screen and (max-width: 991px){
  .left {
    padding: 50px 15px;
    text-align: center;
  }
  .left h2 {
    font-size: 40px;
  }
  .right{
    padding: 20px;
  }
  .right i{
    top: -52px;
    transform: rotate(90deg);
    left: 45%;
  }
  .right bottom{
    width: 150px;
    padding: 12px 0;
  }
  div h1 {
    margin-top: 55px;
  }

  .marginContainer{
    margin-top: 60px;
  }
}


















