---
title: CHARLES CANTIN - CONTACT
layout: 'base2.njk'
---

<main class="vh-100 vw-100 formPhoto">
  <section class="w-100 h-100 text-center d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex">
      <div class="w-100 MarginForm">
        <div class="row singleForm">
          <div class="col-12 d-flex align-items-center backgroundColor heightForm">
            <form name="contact" method="POST" data-netlify-recaptcha="true"  data-netlify="true" id="contact-form" netlify-honeypot="bot-field" class="w-100 formFont">
              <div style="display: none;">
                <label>Ne pas remplir si vous êtes humain : <input name="bot-field" /></label>
              </div>
              <div>
                <p class="marginBottomContact fs-1">Contactez-moi</p>
              </div>
              <div class="form-group marginBottomForm">
                <label for="name">Nom</label>
                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Votre nom">
                <div id="emailHelp" class="form-text"></div>
              </div>
              <div class="form-group marginTopForm">
                <label for="mail">E-mail</label>
                <input type="email" class="form-control" id="mail" placeholder="Votre E-mail">
              </div>
              <div class="form-group marginTopForm">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" placeholder="Votre message"></textarea>
              </div>
              <div data-netlify-recaptcha="true"></div>
              <input type="hidden" name="captcha-token" id="captcha-token">
              <button type="submit" data-callback="onCaptchaSubmit" class="btn btn-secondary marginTopButton" onclick="onClick(e)">Envoyer</button>
            </form>
          </div> 
        </div>
      </div>
    </div>
  </section>
  <footer>
    <p class="footerStyle text-white position-absolute bottom-0 text-center m-0 d-flex flex-column justify-content-center fs-6">@2023 Charles Cantin Photographie <br> Tout Droits Reservés</p>
  </footer>
</main>
<script src="https://www.google.com/recaptcha/enterprise.js?render=6Lds650mAAAAACiQxU7qUPYtczQb_3IWihmYWFeq"></script>
<script>// test
  function onCaptchaSubmit(e) {
  e.preventDefault();
  grecaptcha.ready(() => {
    grecaptcha.execute('6Lds650mAAAAACiQxU7qUPYtczQb_3IWihmYWFeq', { action: 'submit' })
      .then((token) => {
        // Ajoutez le token du captcha à votre formulaire (par exemple, à un champ caché)
        document.getElementById('captcha-token').value = token;
        // Soumettez le formulaire
        document.getElementById('contact-form').submit();
      });
  });
}
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"></script>
</body>
</html>
