---
title: CHARLES CANTIN - GALLERIE
layout: 'base2.njk'
---

<main class="w-100 h-100 position-absolute customMarginGallery">
  <section class="backgroundColor">
    <div class="container">
      <div class="row">
        <h3 class="text-center text-uppercase mb-5 mt-5 customGallery">Decouvrez ma galerie photo</h3>
        <div class="items row-cols-12 mb-5 d-flex justify-content-center flex-wrap">
          <button class="item active btn btn-secondary me-3 mt-2 d-flex justify-content-center shadow" data-name="Tout">Tout</button>
          <button class="item btn btn-secondary d-flex me-3 mt-2 justify-content-center shadow" data-name="Mariage">Mariage</button>
          <button class="item btn btn-secondary d-flex me-3 mt-2 justify-content-center shadow" data-name="Famille">Famille</button>
          <button class="item btn btn-secondary d-flex me-3 mt-2 justify-content-center shadow" data-name="Grossesse">Grossesse</button>
          <button class="item btn btn-secondary d-flex me-3 mt-2 justify-content-center shadow" data-name="Bapteme">Bapteme</button>
          <button class="item btn btn-secondary d-flex me-3 mt-2 justify-content-center shadow" data-name="Portrait">Portrait</button>
          <button class="item btn btn-secondary d-flex me-3 mt-2 justify-content-center shadow" data-name="Couple">Couple</button>
        </div>
        <div class="col-6" id="colOne">
          <div class="row active">
            {% for item in collections.gallery %}
              {% if item.data.dataName == "Famille" %}
                <img src="{{ url(item.data.src) }}" class="customPhoto image show marginAll" data-name="{{ item.data.dataName }}" alt="{{ item.data.alt }}">
              {% endif %}
            {% endfor %}
          </div>
          <div class="row">
            {% for item in collections.gallery %}
              {% if item.data.dataName == "Famille" %}
                <img src="{{ url(item.data.src) }}" class="customPhoto image marginAll" data-name="{{ item.data.dataName }}" alt="{{ item.data.alt }}">
              {% endif %}
            {% endfor %}
          </div>
          <div class="row">
            {% for item in collections.gallery %}
              {% if item.data.dataName == "Portrait" %}
                <img src="{{ url(item.data.src) }}" class="customPhoto image marginAll" data-name="{{ item.data.dataName }}" alt="{{ item.data.alt }}">
              {% endif %}
            {% endfor %}
          </div>
          <div class="row">
            {% for item in collections.gallery %}
              {% if item.data.dataName == "Portrait" %}
                <img src="{{ url(item.data.src) }}" class="customPhoto image marginAll" data-name="{{ item.data.dataName }}" alt="{{ item.data.alt }}">
              {% endif %}
            {% endfor %}
          </div>
          <div class="row">
            {% for item in collections.gallery %}
              {% if item.data.dataName == "Couple" %}
                <img src="{{ url(item.data.src) }}" class="customPhoto image marginAll" data-name="{{ item.data.dataName }}" alt="{{ item.data.alt }}">
              {% endif %}
            {% endfor %}
          </div>
          <div class="row">
            {% for item in collections.gallery %}
              {% if item.data.dataName == "Couple" %}
                <img src="{{ url(item.data.src) }}" class="customPhoto image marginAll" data-name="{{ item.data.dataName }}" alt="{{ item.data.alt }}">
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="col-6" id="colTwo">
          <div class="row">
            {% for item in collections.gallery %}
              {% if item.data.dataName == "Mariage" %}
                <img src="{{ url(item.data.src) }}" class="customPhoto image marginAll" data-name="{{ item.data.dataName }}" alt="{{ item.data.alt }}">
              {% endif %}
            {% endfor %}
          </div>
          <div class="row">
            {% for item in collections.gallery %}
              {% if item.data.dataName == "Bapteme" %}
                <img src="{{ url(item.data.src) }}" class="customPhoto image marginAll" data-name="{{ item.data.dataName }}" alt="{{ item.data.alt }}">
              {% endif %}
            {% endfor %}
          </div>
          <div class="row">
            {% for item in collections.gallery %}
              {% if item.data.dataName == "Bapteme" %}
                <img src="{{ url(item.data.src) }}" class="customPhoto image marginAll" data-name="{{ item.data.dataName }}" alt="{{ item.data.alt }}">
              {% endif %}
            {% endfor %}
          </div>
          <div class="row">
            {% for item in collections.gallery %}
              {% if item.data.dataName == "Grossesse" %}
                <img src="{{ url(item.data.src) }}" class="customPhoto image marginAll" data-name="{{ item.data.dataName }}" alt="{{ item.data.alt }}">
              {% endif %}
            {% endfor %}
          </div>
          <div class="row">
            {% for item in collections.gallery %}
              {% if item.data.dataName == "Grossesse" %}
                <img src="{{ url(item.data.src) }}" class="customPhoto image marginAll" data-name="{{ item.data.dataName }}" alt="{{ item.data.alt }}">
              {% endif %}
            {% endfor %}
          </div>
          <div class="row">
            {% for item in collections.gallery %}
              {% if item.data.dataName == "Grossesse" %}
                <img src="{{ url(item.data.src) }}" class="customPhoto image marginAll" data-name="{{ item.data.dataName }}" alt="{{ item.data.alt }}">
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <p class="footerStyle text-center text-white mt-5 d-flex flex-column justify-content-center fs-6">@2023 Charles Cantin Photographie <br> Tout Droits Reservés</p>
  </footer>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"></script>
<script src="/script.js"></script>
