{% extends 'base2.njk' %}

{% block content %}
<main class="w-100 h-100 position-absolute customMarginGallery">
  <section class="backgroundColor">
    <div class="container">
      <div class="row">
        <h3 class="text-center text-uppercase mb-5 mt-5 customGallery">{{ title }}</h3>
        <div class="items row-cols-12 mb-5 d-flex justify-content-center flex-wrap">
          {% for image in images %}
          <button class="item btn btn-secondary me-3 mt-2 d-flex justify-content-center shadow" data-name="{{ image.dataName }}">{{ image.dataName }}</button>
          {% endfor %}
        </div>
        <div class="col-6" id="colOne">
          {% for image in images %}
          {% if loop.index <= 6 %}
          <div class="row{% if loop.index == 1 %} active{% endif %}">
            <img src="{{ image.src }}" class="customPhoto image marginAll" data-name="{{ image.dataName }}" alt="{{ image.alt }}">
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <div class="col-6" id="colTwo">
          {% for image in images %}
          {% if loop.index > 6 %}
          <div class="row">
            <img src="{{ image.src }}" class="customPhoto image marginAll" data-name="{{ image.dataName }}" alt="{{ image.alt }}">
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <footer>
    <p class="footerStyle text-center text-white mt-5 d-flex flex-column justify-content-center fs-6">@2023 Charles Cantin Photographie <br> Tout Droits Reservés</p>
  </footer>
</main>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"></script>
<script src="/script.js"></script>
